= simple_form_for @event do |f|
  = f.input :name, placeholder: 'Name', label: false,
    input_html: {class: 'input-block-level'}
  = f.input :description, placeholder: 'Description', label: false,
    input_html: {rows: 5, class: 'input-block-level'}

  .control-group
    = f.label :date
    .controls
      = calendar_datepicker :date, f, class: 'input-small'
      = f.time_select :date, { ignore_date: true, ampm: true, minute_step: 15 }, class: 'input-small'

  .control-group
    .controls
      = f.button :submit
