= simple_form_for @bill, :html => {:class => 'form-horizontal'} do |f|
  = f.input :name
  = f.input :owed_to
  = f.input :amount

  .control-group
    = f.label 'date_due'
    .controls
      = calendar_datepicker(:date_due, f)

  = f.input :status
  .control-group
    .controls
      = f.submit 'Save'
