= simple_form_for @chore, :html => {:class => 'form-horizontal'} do |f|

  = f.input :name, placeholder: 'Name',
    label: false, input_html: {class: 'input-block-level'}
  = f.input :description, placeholder: 'Description',
    label: false, input_html: {class: 'input-block-level'}

  = f.association :assigned_user, 
    collection: @dwelling.users, name_method: :name, value_method: :id,
    prompt: 'Assigned Roommate'

  = f.input :cron_str, 
    collection: ["Just Once", "Every M/W/F", "Every T/Th", "Every Sunday"],
    prompt: false

  .control-group
    .controls
      = f.button :submit
